RewriteEngine on

RewriteCond %{REQUEST_URI} ^(.*)/$
RewriteRule (.*)/$ %1 [R,END]

# /login -> /web/login.html
RewriteRule ^(.*)/?$ web/$1.html [DPI]

# /users -> /users/index.html
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(web/.*)\.html$ $1/index.html

# don't do anything, but END redirection
RewriteRule ^(.*)$ $1 [END]