RewriteEngine on

# /page/ -> /page
RewriteCond %{REQUEST_URI} ^(.*)/$
RewriteRule (.*)/$ %1 [R,END]

# /page -> /web/page.html
RewriteRule ^(.*)/?$ web/$1.html [DPI]

# if page.html doesn't exist:
# /page -> /page/index.html
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(web/.*)\.html$ $1/index.html

# don't do anything, but END redirection
RewriteRule ^(.*)$ $1 [END]